.logo {
    height:40px;
}

.sposta{
    margin-left: -100px;
}

.griglia{
    width:5vw;
    height: 6vh;
}

.genere {
    height: 6vh;
}

.marginFooter {
    
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 20vh;
}

.avatar{
    margin-bottom: 50vh;
    
}
 .edita{
    margin-top:-7vh;
 }

 .bottoni {
    text-align: center;
 }

.orizzontale{
    margin-left: 23vw;
    margin-right: 23vw;
}

.allinea{
    margin:1vw;
}

.negativo{
    margin-bottom:-10vh
}

