.approfondisci {
    background-color: $bgColorBlue;
}

.accedi {
    background-color: $bgColorOrange;
}

.contattaci {
    background-color: $bgColorGreen;
}

button:hover{
    background-color: $bgColorTra;
}