nav {
    .logo{
        display:inline;
        width:50%;
    }
    ul{
        display:inline;
        li {
            display:inline;
        }
    }
}

nav {
    width:$fullWidht;
}

.pg {
   width:20%;

}

.hero {
    display:inline;
    width:30%;
    
}

