
$fullWidht:100%;
$bgColorBlue:#0e6cff;
$bgColorOrange:#ff8700;
$bgColorGreen:#4caf50;
$bgColorTra: #fff;
$bgHero:#640fc5;





@import 'animazioni';
@import 'bottoni';
@import 'colori';
@import 'font';
@import 'mixingGenerici';
@import 'reset';
@import 'spaziature';

